{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">
        Your AAN application
    </h1>

    <form action="/consent" method="post" novalidate>

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
    {% from "govuk/components/select/macro.njk" import govukSelect %} 
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

    <p class="govuk-body-l govuk-!-font-weight-bold base-margin-bottom">
      Your details:
     </p>

        {{ govukInput({
            label: {
                text: "Full Name"
            },
            id: "full-name",
            name: "full-name",
            classes: "govuk-!-width-two-thirds",
            value: data['full-name']
            }) 
        }}

            {{ govukInput({
              label: {
                  text: "Email"
              },
              id: "email",
              name: "email",
              classes: "govuk-!-width-two-thirds",
              value: data['email']
              }) 
          }}

            {{ govukSelect({
              id: "filter-region",
             name: "filter-regions",
             classes: "medium-margin-bottom",
              label: {
                     text: "Region"
             },
              items: regions,
              value: data['filter-region']
             })
         }}    

         <p class="govuk-body-l govuk-!-font-weight-bold base-margin-bottom">
          About your Organisation:
         </p>

         {{ govukInput({
          label: {
               text: "Organisation name"
              }, 
          id: "organisation-name",
          name: "organisation-name",
          classes: "govuk-!-width-two-thirds",
          value: data['organisation-name']
          }) 
      }}

         {{ govukInput({
          label: {
               text: "How many employees work in your organisation?"
              }, 
          id: "size-company",
          name: "size-company",
          classes: "govuk-input--width-3",
          value: data['size-company']
          }) 
      }}

      {{ govukInput({
        label: {
             text: "How many apprentices do you have in your organisation?"
            }, 
        id: "apprentices",
        name: "apprentices",
        classes: "govuk-input--width-3",
        value: data['apprentices']
        }) 
    }}

  

    {{ govukRadios({
      classes: "govuk-radios--small",
      name: "main-contact",
      fieldset: { 
        legend: {
          text: "Are you the main contact for AAN at your organisation?"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "Sector",
          fieldset: {
            legend: {
              text: "Which sector(s) are your apprenticeships in?"
            },
            value: data['sector']
          },
          hint: {
            text: "Select all that apply."
          },
          items: industries
        }) }}


        {{ govukDateInput({
          id: "start",
          namePrefix: "[start]",
          classes: "medium-margin-bottom",
          fieldset: {
            legend: {
              text: "When did your organisation start your apprentice programme?"
            }
          },
          items: [
              {
                name: "month",
                id: "month",
                classes: "govuk-input--width-2",
                value: data['start-month']
              },
              {
                name: "year",
                id: "year",
                classes: "govuk-input--width-4",
                value: data['start-year']
              }
          ],
          hint: {
            html: "<p>For example, 3 2019.<br> If you do not know the exact start date, put the year only.</p>"
          }
        }) }}

        <p class="govuk-body-l govuk-!-font-weight-bold base-margin-bottom">
          Application outline:
         </p>

         {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

        {{ govukCharacterCount({
        name: "with-hint",
        id: "with-hint",
        maxlength: 500,
        label: {
          text: "Please outline why you want to join the network (max 500 characters)",
          classes: "govuk-body-m",
          isPageHeading: false
        },
        value: data['application-reasons']
        }) 
      }}

      {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

        {{ govukCharacterCount({
        name: "with-hint",
        id: "gain",
        maxlength: 500,
        label: {
          text: "What would you like to gain from the network?",
          classes: "govuk-body-m",
          isPageHeading: false
        },
        value: data['gain']
        }) 
      }}

      {{ govukCharacterCount({
        name: "with-hint",
        id: "challenges",
        maxlength: 500,
        label: {
          text: "What are your challenges related to apprenticeships?",
          classes: "govuk-body-m",
          isPageHeading: true
        },
        value: data['challenges']
        }) 
      }}
              

       {% from "govuk/components/button/macro.njk" import govukButton %}

           {{ govukButton({
               text: "Next"
           })
         }}
    
        </form>
 

{% endblock %}
