{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-xl">
        Your AAN Application
    </h1>

    <form action="/consent" method="post" novalidate>

    {% from "govuk/components/input/macro.njk" import govukInput %}
    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
    {% from "govuk/components/select/macro.njk" import govukSelect %} 

        {{ govukInput({
            label: {
                text: "Full Name"
            },
            id: "full-name",
            name: "full-name",
            classes: "govuk-!-width-two-thirds",
            value: data['full-name']
            }) 
        }}


            {{ govukDateInput({
              id: "date-of-birth",
              namePrefix: "[date-of-birth]",
              fieldset: {
                legend: {
                  text: "Enter your date of birth"
                }
              },
              items: [
                  {
                    name: "day",
                    id: "day",
                    classes: "govuk-input--width-2",
                    value: data['date-of-birth-day']
                  },
                  {
                    name: "month",
                    id: "month",
                    classes: "govuk-input--width-2",
                    value: data['date-of-birth-month']
                  },
                  {
                    name: "year",
                    id: "year",
                    classes: "govuk-input--width-4",
                    value: data['date-of-birth-year']
                  }
              ],
              hint: {
                text: "For example, 27 3 2007"
              }
            }) }}

            {{ govukSelect({
              id: "filter-region",
             name: "filter-regions",
              label: {
                     text: "Region"
             },
              items: regions,
              value: data['filter-region']
             })
         }}    

         {{ govukInput({
          label: {
               text: "Organisation name"
              }, 
          id: "organisation-name",
          name: "organisation-name",
          classes: "govuk-!-width-two-thirds",
          value: data['organisation-name']
          }) 
      }}

         {{ govukInput({
          label: {
               text: "How many employees work in your organisation?"
              }, 
          id: "size-company",
          name: "size-company",
          classes: "govuk-input--width-3",
          value: data['size-company']
          }) 
      }}

      {{ govukInput({
        label: {
             text: "How many apprentices do you have in your organisation?"
            }, 
        id: "apprentices",
        name: "apprentices",
        classes: "govuk-input--width-3",
        value: data['apprentices']
        }) 
    }}

        {{ govukInput({
            label: {
                 text: "Name of current apprentice"
                }, 
                hint: {
                  text: "If you line manage an apprentice and they apply to join the network, you will be notified prior to their application being approved. Your apprentice signing up to be an ambassador means they will be making a commitment to support AAN events, which may be in work time."
                },
            id: "name-of-current-apprentice",
            name: "name-of-current-apprentice",
            classes: "govuk-!-width-two-thirds",
            value: data['name-of-current-apprentice']
            }) 
        }}


        {{ govukDateInput({
          id: "start",
          namePrefix: "[start]",
          fieldset: {
            legend: {
              text: "When did you start your apprentice programme?"
            }
          },
          items: [
              {
                name: "day",
                id: "day",
                classes: "govuk-input--width-2",
                value: data['start-day']
              },
              {
                name: "month",
                id: "month",
                classes: "govuk-input--width-2",
                value: data['start-month']
              },
              {
                name: "year",
                id: "year",
                classes: "govuk-input--width-4",
                value: data['start-year']
              }
          ],
          hint: {
            text: "For example, 27 3 2019"
          }
        }) }}

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

            {{ govukTextarea({
            name: "application-reasons",
            id: "application-reasons",
            label: {
                text: "Please outline why you want to join the network (max 250 characters)"
            },
            value: data['application-reasons']
            }) 
        }}

        {{ govukTextarea({
          name: "challenges",
          id: "challenges",
          rows: 3,
          label: {
              text: "What are your challenges related to apprenticeships?"
          },
          value: data['challenges']
          }) 
      }}
              

             {% from "govuk/components/button/macro.njk" import govukButton %}

           {{ govukButton({
               text: "Next"
           })
         }}
    
        </form>
 

{% endblock %}
