{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 {% block pageNavigation %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
            {
            text: "Hub home",
            href: "/hubHome"
            },
            {
              text: "Events",
              href: "/events"
            },
            {
              text: "Seach Events",
              href: "/event-search"
            }
            ]
        }) }}
  {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Search for an event
  </h1>

  <p class="base-margin-bottom">All events being held in the AAN are listed on this page. You can filter events by date, sector, region, event type and format.</p>


  {%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
  {%- from "govuk/components/input/macro.njk" import govukInput -%}
  {%- from "govuk/components/table/macro.njk" import govukTable -%}
  {%- from "moj/components/filter/macro.njk" import mojFilter -%}
  {%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}


  {% set filterOptionsHtml %}

  {{ govukSelect({
    id: "filter-date",
   name: "filter-date",
    label: {
           text: "Filter events by date"
   },
    items: dates
   })
  }}

  {{ govukSelect({
    id: "filter-type",
   name: "filter-type",
    label: {
           text: "Filter events by type"
   },
    items: eventType
   })
  }}

  {{ govukSelect({
    id: "filter-format",
   name: "filter-format",
    label: {
           text: "Filter events by event format"
   },
    items: eventFormat
   })
  }}


    {{ govukCheckboxes({
      name: 'region',
      classes: "govuk-checkboxes--small filter-region",
      fieldset: {
        legend: {
          text: 'Region',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: selectedRegions
    }) }}
  
    {{ govukCheckboxes({
      name: 'sector',
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: 'Sector',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: selectedIndustry
    })
   }}
  
  {% endset %}
  
  
  <div class="moj-filter-layout">
  
    <div class="moj-filter-layout__filter">
  
      {{ mojFilter({
        heading: {
        text: 'Filter'
        },
        selectedFilters: {
  
        heading: {
          text: 'Selected filters'
        },
  
        clearLink: {
          text: 'Clear filters'
        },
  
        categories: [
          {
            heading: {
              text: 'Region'
            },
            items: [{
              href: '#',
              text: 'South West'
            }, {
              href: '#',
              text: 'London'
            }]
          },
          {
            heading: {
              text: 'Sector'
            },
            items: [{
              href: '#',
              text: 'Health and science'
            }]
          }
        ]
      },
        optionsHtml: filterOptionsHtml
      }) }}
  
    </div>
  
    <div class="moj-filter-layout__content">
  
    <div class="moj-action-bar">
  
      <div class="moj-action-bar"></div>
  
    
    </div>
  
    <div class="moj-scrollable-pane base-margin-top">
      <h4 class="govuk-body-s govuk-!-font-weight-bold">
        {{filteredEvents | length}} events upcoming listed 
      </h4>
    
      {% for event in filteredEvents %}
            {% include "eventCard.html" %} 
      {% endfor %}
    </div>
  </div>


  <script>
   
   let boxes = document.querySelectorAll('.govuk-checkboxes__input')
    let selectR = document.querySelector('#filter-region')
    let selectI = document.querySelector('#filter-industry')

    let newArr = [] 

    boxes.forEach(box => {
       addEventListener('change', (e) => {
        if (e.target.checked){
          let item = e.target
           }    

      })
    })

  </script>

{% endblock %}

