{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageNavigation %}
  
    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
            {
            text: "Hub home",
            href: "/hubHome"
            },
            {
              text: "Profile Settings",
              href: "/profile-settings"
            }
         
        ]
        }) 
    }}
    
  {% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
   Your AAN profile
  </h1>

  <p class="govuk-body-s">
    You can view your current personal information 
    below. Please ensure your profile is up to date 
    so the network can provide you with the most 
    relevant information and suitable opportunties. 
  </p>

  <div class="flex
              medium-margin-bottom">
    <img class="profile-image" src="/public/images/profile.jpg" alt="profile image" width="300px">
</div>

  <p class="govuk-body-m small-margin-bottom govuk-!-font-weight-bold">
    Selected items are visible to other users on the network. To opt out of sharing this information, please unselect. 
  </p>

  
  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
 

  {{ govukSummaryList({
  rows: [
      {
        key: {
            text: "Name:"
        },
        value: {
            text: "Paul Smith"
        }
      },
      {
      key: {
          text: "Email address:"
      },
      value: {
          text: "paulsmith@gov.uk"
      },
      actions: {
            items: [ 
              {
                html: '<div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="approved" name="approved" type="checkbox" value="name" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                             <span class="govuk-visually-hidden">Email</span>
                      </label>
                      </div>'
              }
            ]   
        }
      },
      {
      key: {
          text: "Residence (Town or city):"
      },
      value: {
          html: "Coventry"
      },
      actions: {
            items: [ 
              {
                html: '<div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="approved" name="approved" type="checkbox" value="name" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                             <span class="govuk-visually-hidden">town or city</span>
                      </label>
                      </div>'
              }
            ]   
        }
      },
      {
      key: {
          text: "Region:"
      },
      value: {
          html: "West Midlands"
      },
      actions: {
            items: [ 
              {
                html: '<div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="approved" name="approved" type="checkbox" value="name" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                             <span class="govuk-visually-hidden">Region</span>
                      </label>
                      </div>'
              }
            ]   
        }
      },
      {
      key: {
          text: "Current Role:"
      },
      value: {
          html: 'Freight Forwarding'
      },
      actions: {
            items: [ 
              {
                html: '<div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="approved" name="approved" type="checkbox" value="name" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                             <span class="govuk-visually-hidden">Name</span>
                      </label>
                      </div>'
              }
            ]   
        }
      },
      {
        key: {
            text: "Employer:"
        },
        value: {
            html: 'F.S Mackenzie Ltd'
        },
        actions: {
            items: [ 
              {
                html: '<div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="approved" name="approved" type="checkbox" value="name" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                             <span class="govuk-visually-hidden">Name</span>
                      </label>
                      </div>'
              }
            ]   
        }
      },
      {
        key: {
            text: "Current or former apprentice:"
        },
        value: {
            html: 'Former'
        },
        actions: {
            items: [ 
              {
                html: '<div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="approved" name="approved" type="checkbox" value="name" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="approved">
                             <span class="govuk-visually-hidden">Name</span>
                      </label>
                      </div>'
              }
            ]   
        }
      }
  
  ]
  }) 
}}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Edit Profile",
  classes: "govuk-button--secondary",
  href: '#'
}) 
}}

{% for item in networkSettings %}
    {% include "networkCard.html" %}
  {% endfor %}

{% endblock %}

