{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageNavigation %}
  
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
            {
            text: "Hub home",
            href: "/hubHome"
            },
            {
              text: "Events",
              href: "/events"
            }
            ]
        }) }}
  {% endblock %}

{% block content %}


  <h1 class="govuk-heading-xl">
    South West AAN regional employer meeting
  </h1>
  
  <p class="govuk-body-l">
   All details about this event
  </p>

  <p class="govuk-body-l 
               base-margin-bottom"> Regional meeting to share current headlines and forward plan AAN activity across November and December.</p>

  <p class="govuk-body-l 
               base-margin-bottom">Colleagues will update on recent achievements within the network and map out forthcoming events, case studies and wider AAN activity they have planned.</p>
  
    <p class="govuk-body-l 
            base-margin-bottom">Start:15:00</p>

    <p class="govuk-body-l 
            base-margin-bottom">Finish:17:00</p>

  <p class="govuk-body-l 
            medium-margin-bottom">Contact:sam.kershaw@aan.co.uk</p>

  <p class="govuk-body-l 
            medium-margin-bottom">Industry:construction</p>

    <p class="govuk-body-m base-margin-bottom">
       Others who are attending this event:</p>

    <div class="flex flex-wrap medium-margin-bottom">

        {% for member in members %}
            {% include "profilePics.html" %} 
        {% endfor %}
    </div>

   

    {% from "govuk/components/button/macro.njk" import govukButton %}


    {{ govukButton({
        text: "Remove event from calendar",
        classes: "govuk-button--secondary",
        href: "/events"
        }) 
    }}

{% endblock %}