{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block pageNavigation %}
  
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

        {{ govukBreadcrumbs({
        collapseOnMobile: true,
        items: [
            {
            text: "Hub home",
            href: "/hubHome"
            },
            {
              text: "Events",
              href: "/events"
            }
            ]
        }) }}
  {% endblock %}

{% block content %}


  <h1 class="govuk-heading-xl">
    South West AAN regional employer meeting
  </h1>
  
  <p class="govuk-body-l">
   All details about this event:
  </p>

  <div class="govuk-body-l 
            medium-margin-bottom">
                <p class="small-margin-bottom"> 
                    <strong>Event Summary:</strong>
                    Regional meeting to share current headlines and forward plan AAN activity across November and December.</p>
                <p>Colleagues will update on recent achievements within the network and map out forthcoming events, case studies and wider AAN activity they have planned.</p>             
  </div> 
  
  <p class="govuk-body-l 
               small-margin-bottom">
               <strong>Event Type:</strong>
               Hybrid
    </p>

    <p class="govuk-body-l 
               small-margin-bottom">
               <strong>Event Date:</strong>
               21st October 2022
    </p>
  
    
  <p class="govuk-body-l 
               small-margin-bottom">
          <strong>Start Time:</strong>
          15:00
      </p>     
      
      <p class="govuk-body-l 
        small-margin-bottom">
           <strong>End Time:</strong>
           17:00
    </p>

    <p class="govuk-body-l 
            medium-margin-bottom">
                 <strong>Event Contact:</strong>
                 sam.kershaw@aan.co.uk
    </p>    

    <p class="govuk-body-l 
            small-margin-bottom">
                 <strong>Guest Speakers:</strong><br>

                 <strong>Sam Kershaw - Apprenticeships at Manchester United </strong><br>
                <strong> Emanuel - Parc and Recs of MCR</strong>
                
    </p> 

    <p class="govuk-body-m base-margin-bottom">
       Others who are attending this event:</p>

    <div class="flex flex-wrap medium-margin-bottom">

        {% for member in members %}
            {% include "profilePics.html" %} 
        {% endfor %}
    </div>

   

    {% from "govuk/components/button/macro.njk" import govukButton %}


    {{ govukButton({
        text: "Remove event from calendar",
        classes: "govuk-button--secondary",
        href: "/events"
        }) 
    }}

{% endblock %}