{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply to become an ambassador
      </h1>

      <p>Apply to become a member of the Apprenticeship Ambassador Network.</p>

      <p>Before you start your application. You’ll need:</p>

      <ul class="govuk-body-m medium-margin-bottom indent">
        <li class="base-margin-bottom">your employer’s details</li>
        <li class="base-margin-bottom">your apprenticeship sector</li>
        <li class="base-margin-bottom">the region you live in</li>
        <li class="base-margin-bottom">approval from your line manager to join the network</li>
      </ul>

      <p>You’ll get a confirmation email from the AAN after you’ve applied, outlining what you need to do next.</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

           {{ govukButton({
               text: "Apply",
               href: "/aanApplication"
           })
         }}
    </div>
  </div>

{% endblock %}
